
img {
 	width: 304px;
 	height: 228px;
 }



h2  
{color:gold;
font-size: 30px;}

h2#products_title 
{color: silver;}
li.product_item 
{list-style-type: none;}

p    
{color:grey;
font-size: 20px;}





