
body 
{

background: url("http://www.cs.cornell.edu/w8/~crandall/maps/world-large.png");
background-size: cover;
background-position: center;
font-family: Calibri;
text-align:center;
	}


Img {
 	width: 304px;
 	height; 228px;
 }

h1  
{
color: gold;
font-size: 30px;}



h2  
{color:gold;
font-size: 30px;}

h2#products_title 
{color: silver;}
li.product_item 
{list-style-type: none;}

p    
{color:grey;
font-size: 20px;}





