body 
{font-family: Helvetica;
text-align:center;}


img {
 	width: 304px;
 	height: 228px;}


h2#products_title 
{color: silver;}
li.product_item 
{list-style-type: none;}

p    
{color:grey;
font-size: 20px;
font-family: Helvetica;
text-align:center;}

.carousel img
{width: 200px;
height: auto;
margin: 0 auto;}





