.heading {

padding: 80px 120px;
background: url("http://www.cs.cornell.edu/w8/~crandall/maps/world-large.png");
background-size: cover;
background-position: center;
font-family: helvetica;
color: rgba(213, 214, 255, 1);
}

body 
{font-family: Helvetica;
text-align:center;
background-image: url ("https://psychedelicnostalgia.files.wordpress.com/2013/07/the-escape-a-shoal-of-silversides-swimming-away-from-jacks.jpg");
}

img {
 	width: 304px;
 	height: 228px;}


h2#products_title 
{color: silver;}
li.product_item 
{list-style-type: none;}

p    
{color:grey;
font-size: 20px;
font-family: Helvetica;
text-align:center;}

.carousel img
{
  width: auto;
height: auto;
margin: 0 auto;}



h2{
font-size: 50px;
text-align: center;
font-weight: bold;
color:silver;
margin-bottom: 40px;
color: gray;
text-shadow: 0 2px 3px #555555;
font-family: helvetica;
}


.container{
width: 100%;
margin: 0 auto;
margin-top:50px;
}








